<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEST</title>
</head>
<body>
    <h1>It is a test</h1>

    {% if patients %}
        {% for el in patients %}
            <ul class="list-group.mt-4">
                <li class="list-group-item">
                    {{ el.full_name }}
                    {{ el.date }}
                    {{ el.phone }}
                    <span class="float-right.mr-3"> <a href="/tmp/{{ el.id }}">Посмотреть все записи</a></span>
                    <!-- <span class="float-right.mr-4"> <a href="#">Скачать</a></span>-->
                    <!-- <span class="float-right.mr-5"> <a href="#">Удалить</a></span> -->
                </li>
            </ul>
        {% endfor %}
    {% else %}
        <p>No dataf</p>
    {% endif %}
</body>
</html>