{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Menu Hover Line Effect  </title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Vibur" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'control/css/index.css' %}">


</head>

<body>
    <div class="sign">
	    <span class="sign__word">MedLight</span>
	    <span class="sign__word">clinic</span>
    </div>
  <nav>
  <ul class="menu">
      <li><a href="#!">Пациенты</a></li>
      <li><a href="#!">Записи</a></li>
      <li><a href="#!">Статистика</a></li>
      <li><a href="#!">Финансы</a></li>
      <li><a href="#!">Тарификация</a></li>
  </ul>
</nav>


</body>
</html>