{% extends 'control/index.html' %}
{% block content %}
    <h1>It is a FAKEQURT test</h1>
    {% if get_patient %}
        <p>FIO: {{ get_patient.full_name }}</p>
        <div class="modal-body">
          <form action="" id="add_form" method="post" >
              {% csrf_token %}
              {{ form }}
          </form>
        </div>
        <div class="modal-footer">
            {% url 'patients_page' as url_patients_page %}
            <a href="{{ url_patients_page }}">
                <button type="button" class="btn btn-secondary">Закрыть</button>
            </a>
          <button form="add_form" type="submit" class="btn btn-primary">Сохранить</button>
        </div>
    {% else %}
        <p>NO QURT</p>
    {% endif %}

{% endblock %}