{% extends 'control/index.html' %}
{% block content %}
    <h1>It is a test</h1>
    <h1>Requset id is {{ request.id }}</h1>
    <div class="modal-body">
      <form id="create_record{{ el.id }}" method="post" >
          {% csrf_token %}
          {{ form }}
      </form>
    </div>
    <div class="modal-footer">
        {% url 'patients_page' as url_patients_page %}
        <a href="{{ url_patients_page }}">
            <button type="button" class="btn btn-secondary">Закрыть</button>
        </a>
      <button form="add_form" type="submit" class="btn btn-primary">Сохранить</button>
    </div>
{% endblock %}