{% extends 'control/index.html' %}
{% block content %}
    {% if update_record_status %}
        <h1>Страница Редактирования</h1>
        <div class="modal-body">
          <form  id="update_form" method="post" >
              {% csrf_token %}
                <div class="form-group">
                    <label for="doctor" class="text-info">Врач:</label><br>
                    {{ form.doctor }}
                </div>
                <div class="form-group">
                    <label for="used_services" class="text-info">Использованные услуги:</label><br>
                    {{ form.used_services }}
                </div>

                {% if request.user.username == 'admin' and request.user.password == 'pbkdf2_sha256$260000$2TYARnlkN2c2iEz7KXnlZD$4OpejOwM0qcDD2odV2+trkiPRSV31156RVQEU78WdfU=' %}
                    <div class="form-group">
                        <label for="payment_status" class="text-info">Статус оплаты:</label><br>
                        {{ form.payment_status }}
                    </div>

                {% endif %}

                <div class="form-group">
                    <label for="total_sum" class="text-info">Итоговая сумма:</label><br>
                    {{ form.total_sum }}
                </div>
                <div class="form-group">
                    <label for="disease" class="text-info">Диагноз:</label><br>
                    {{ form.disease }}
                </div>
                <div class="form-group">
                    <label for="discharge" class="text-info">Лечение:</label><br>
                    {{ form.discharge }}
                </div>
          </form>
        </div>
        <div class="modal-footer">
            <a href="{% url 'records_page' %}">
                <button type="button" class="btn btn-secondary">Закрыть</button>
            </a>
          <button form="update_form" type="submit" class="btn btn-primary">Обновить</button>
        </div>
    {% elif show_record_status %}
        <h1>Страница просмотра записи</h1>
            <div class="modal-body">
                <p>ФИО: {{ get_record.patient.full_name }}</p>
                <p>Дата рождения пациента: {{ get_record.patient.date }}</p>
                <p>Номер телефона пациента: {{ get_record.patient.phone }}</p>
                <br><br>
                <p>Дата записи: {{ get_record.register_date }}</p>
                <p>ФИО врача: {{ get_record.doctor.full_name }}</p>
                <p>Специальность врача: {{ get_record.doctor.speciality }}</p>
                <p>Номер врача: {{ get_record.doctor.phone }}</p>
                <br><br>
                <p>Использованные услуги: {{ get_record.used_services }}</p>
                <p>Диагноз: {{ get_record.disease }}</p>
                <p>Лечение: <br> <br>{{ get_record.discharge.expandtabs|linebreaksbr }}</p>

                <p>Итоговая сумма: {{ get_record.total_sum }}</p>
                {% if get_record.payment_status == False %}
                    <p>Статус оплаты: Ожидает оплаты</p>
                {% else %}
                    <p>Статус оплаты: Оплатил</p>
                {% endif %}
            </div>
            <script>
                function br2nl(str){
                    var tmp = String(str);
                    document.getElementById('discharge').value = tmp.replace(/(?:<br>)/g, '\n');
                }
            </script>

        <div class="modal-footer">
            {% if get_record.payment_status == True %}
                <form action="/pdf" method="GET">
                <input id="patient_name" name="patient_name" value={{ get_record.patient.full_name }} type="hidden">
                <input id="patient_birthdate" name="patient_birthdate" value={{ get_record.patient.date }} type="hidden">
                <input id="patient_phone" name="patient_phone" value={{ get_record.patient.phone }} type="hidden">
                <input id="reg_date" name="reg_date" value={{ get_record.register_date }} type="hidden">
                <input id="doc_name" name="doc_name" value={{ get_record.doctor.full_name }} type="hidden">
                <input id="doc_spec" name="doc_spec" value={{ get_record.doctor.speciality }} type="hidden">
                <input type="hidden" id="disease" name="disease" value={{ get_record.disease }}>
                <input id="discharge" name="discharge" type="hidden"  value="{{ get_record.discharge.expandtabs.splitlines }}">

                <input type="submit" value="Скачать" class="btn btn-secondary">
                <!--<button type="button" class="btn btn-secondary" name="lala">Скачать</button>-->

            </form>
            {% endif %}
            <a href="{% url 'records_page' %}">
                <button type="button" class="btn btn-secondary">Закрыть</button>
            </a>
            <!--<a href="{% url 'generate_pdf' %}">
                <button type="button" class="btn btn-secondary">Скачать</button>
            </a>-->
        </div>

    {% else %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li>
                  {% url 'home_page' as url_home_page %}
                    <a class="nav-link" href="{{ url_home_page }}">Главная</a>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="{% url 'records_page' %}" method="get">
                <input name="q" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <input type="submit" name="submit" class="btn btn-outline-success my-2 my-sm-0" value="Найти">
            </form>
          </div>
        </nav>
        <br><br>
          {% if object_list %}
            <table class="table table-sm margin-top">
                <thead class="thead-dark">
                    <tr>
                      <th scope="col">№</th>
                      <th scope="col">ФИО</th>
                      <th scope="col">Дата записи</th>
                      <th scope="col">Врач</th>
                      <th scope="col">Статус</th>
                      <th scope="col">Итого</th>
                      <th scope="col">Просмотр</th>
                      <th scope="col">Редактирование</th>
                      <th scope="col">Удаление</th>
                    </tr>
                </thead>
                <tbody>
                    {% for el in object_list %}
                        <tr>
                          <th scope="row">{{ forloop.counter }}</th>
                          <td>{{ el.patient.full_name }}</td>
                          <td>{{ el.register_date }}</td>
                          <td>{{ el.doctor.speciality }}</td>
                          {% if el.payment_status == False%}
                              <td>Ожидает оплаты</td>
                          {% else %}
                              <td>Оплатил</td>
                          {% endif %}
                          <td>{{ el.total_sum }}</td>
                          <td>
                              <a href="{% url 'record_detail_page' el.id %}"><i class="fas fa-eye"></i></a>
                          </td>
                          <td>
                            {% if request.user == el.author or request.user.username == 'admin' and request.user.password == 'pbkdf2_sha256$260000$2TYARnlkN2c2iEz7KXnlZD$4OpejOwM0qcDD2odV2+trkiPRSV31156RVQEU78WdfU=' %}
                                <a href="{% url 'record_update_page' el.id %}"> <i class="fas fa-pencil-alt"></i> </a>
                            {% else%}
                                Нет доступа
                            {% endif %}
                          </td>
                          <td>
                            {% if request.user == el.author or request.user.username == 'admin' and request.user.password == 'pbkdf2_sha256$260000$2TYARnlkN2c2iEz7KXnlZD$4OpejOwM0qcDD2odV2+trkiPRSV31156RVQEU78WdfU=' %}
                                <form id="delete_form{{ el.id }}" action="{% url 'record_delete_page' el.id %}" method="post">{% csrf_token %}</form>
                                <a href="javascript:void()" onclick="delete_record{{ el.id }}()"><i class="fas fa-trash-alt"></i></a>
                                <script>
                                    function delete_record{{ el.id }}(){
                                        if (confirm("Вы уверены?")){
                                            document.getElementById('delete_form{{ el.id }}').submit()
                                        }
                                    }
                                </script>
                            {% else%}
                                Нет доступа
                            {% endif %}
                          </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
          {% else %}
            <tr>
                <h3>Ничего не найдено :(</h3>
                <a href="{% url 'records_page' %}">
                    <button type="button" class="btn btn-secondary">Назад</button>
                </a>
            </tr>
          {% endif %}
    {% endif %}
{% endblock %}