{% extends 'control/index.html' %}
{% block content %}
    {% if update_record_status %}
        <h1>Страница Редактирования</h1>
        <div class="modal-body">
          <form id="update_form" method="post" >
              {% csrf_token %}
              {{ form }}
          </form>
        </div>
        <div class="modal-footer">
            <a href="{% url 'records_page' %}">
                <button type="button" class="btn btn-secondary">Закрыть</button>
            </a>
          <button form="update_form" type="submit" class="btn btn-primary">Обновить</button>
        </div>
    {% elif show_record_status %}
        <h1>Страница просмотра записи</h1>
            <div class="modal-body">
                <p>ФИО: {{ get_record.patient.full_name }}</p>
                <p>Дата рождения пациента: {{ get_record.patient.date }}</p>
                <p>Номер телефона пациента: {{ get_record.patient.phone }}</p>
                <br><br>
                <p>Дата записи: {{ get_record.register_date }}</p>
                <p>ФИО врача: {{ get_record.doctor.full_name }}</p>
                <p>Специальность врача: {{ get_record.doctor.speciality }}</p>
                <p>Номер врача: {{ get_record.doctor.phone }}</p>
                <br><br>
                <p>Использованные услуги: {{ get_record.used_services }}</p>
                <p>Диагноз: {{ get_record.disease }}</p>

                <p>Итоговая сумма: {{ get_record.total_sum }}</p>
                {% if get_record.payment_status == False %}
                    <p>Статус оплаты: Ожидает оплаты</p>
                {% else %}
                    <p>Статус оплаты: Оплатил</p>
                {% endif %}
            </div>
        <div class="modal-footer">
            <a href="{% url 'records_page' %}">
                <button type="button" class="btn btn-secondary">Закрыть</button>
            </a>
        </div>
    {% else %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li>
                  {% url 'home_page' as url_home_page %}
                    <a class="nav-link" href="{{ url_home_page }}">Главная</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" data-toggle="modal" data-target="#exampleModalCenter">Создать</a>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="{% url 'records_page' %}" method="get">
                <input name="q" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <input type="submit" name="submit" class="btn btn-outline-success my-2 my-sm-0" value="Найти">
            </form>
          </div>
        </nav>
        <br><br>
          {% if object_list %}
            <table class="table table-sm margin-top">
                <thead class="thead-dark">
                    <tr>
                      <th scope="col">№</th>
                      <th scope="col">ФИО</th>
                      <th scope="col">Дата записи</th>
                      <th scope="col">Врач</th>
                      <th scope="col">Статус</th>
                      <th scope="col">Итого</th>
                      <th scope="col">Просмотр</th>
                      <th scope="col">Редактирование</th>
                      <th scope="col">Удаление</th>
                    </tr>
                </thead>
                <tbody>
                    {% for el in object_list %}
                        <tr>
                          <th scope="row">{{ forloop.counter }}</th>
                          <td>{{ el.patient.full_name }}</td>
                          <td>{{ el.register_date }}</td>
                          <td>{{ el.doctor.speciality }}</td>
                          {% if el.payment_status == False%}
                              <td>Ожидает оплаты</td>
                          {% else %}
                              <td>Оплатил</td>
                          {% endif %}
                          <td>{{ el.total_sum }}</td>
                          <td>
                              <a href="{% url 'record_detail_page' el.id %}"><i class="fas fa-eye"></i></a>
                          </td>
                          <td>
                            {% if request.user == el.author %}
                                <a href="{% url 'record_update_page' el.id %}"> <i class="fas fa-pencil-alt"></i> </a>
                            {% else%}
                                Нет доступа
                            {% endif %}
                          </td>
                          <td>
                            {% if request.user == el.author %}
                                <form id="delete_form{{ el.id }}" action="{% url 'record_delete_page' el.id %}" method="post">{% csrf_token %}</form>
                                <a href="javascript:void()" onclick="delete_record{{ el.id }}()"><i class="fas fa-trash-alt"></i></a>
                                <script>
                                    function delete_record{{ el.id }}(){
                                        if (confirm("Вы уверены?")){
                                            document.getElementById('delete_form{{ el.id }}').submit()
                                        }
                                    }
                                </script>
                            {% else%}
                                Нет доступа
                            {% endif %}
                          </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
          {% else %}
            <tr>
                <h3>Ничего не найдено :(</h3>
                <a href="{% url 'records_page' %}">
                    <button type="button" class="btn btn-secondary">Назад</button>
                </a>
            </tr>
          {% endif %}
    {% endif %}
{% endblock %}