{% extends 'control/index.html' %}
{% block content %}
    {% if update_status %}
        <h1>Страница Редактирования</h1>
        <div class="modal-body">
          <form id="update_form" method="post" >
              {% csrf_token %}
              <div class="form-group">
                  <label for="name" class="text-info">Услуга:</label><br>
                  {{ form.name }}
              </div>
              <div class="form-group">
                  <label for="price" class="text-info">Цена:</label><br>
                  {{ form.price }}
              </div>
              <div class="form-group">
                  <br>
                  <a href="{% url 'services_page' %}">
                    <button type="button" class="btn btn-secondary">Закрыть</button>
                  </a>
                  <input type="submit" name="submit" class="btn btn-info btn-md" value="Сохранить">
              </div>
          </form>
        </div>
    {% else %}
          <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li>
                  {% url 'home_page' as url_home_page %}
                  <a class="nav-link" href="{{ url_home_page }}">Главная</a>
              </li>
              <li class="nav-item">
                  {% if request.user.username == 'admin' and request.user.password == 'pbkdf2_sha256$260000$2TYARnlkN2c2iEz7KXnlZD$4OpejOwM0qcDD2odV2+trkiPRSV31156RVQEU78WdfU=' %}
                      <a class="nav-link" data-toggle="modal" data-target="#exampleModalCenter">Создать</a>
                  {% else%}
                      <a class="nav-link" href="javascript:void()" onclick="access()">Создать</a>
                      <script>
                        function access(){
                           window.alert(
                              "У Вас не достаточно прав для создания"
                          )
                        }
                      </script>
                  {% endif %}
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="{% url 'services_page' %}" method="get">
                <input name="q" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <input type="submit" name="submit" class="btn btn-outline-success my-2 my-sm-0" value="Найти">
            </form>
          </div>
        </nav>
        <br><br>
        {% if object_list %}
            <table class="table table-sm margin-top">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">№</th>
                  <th scope="col">Услуга</th>
                  <th scope="col">Цена</th>
                  <th scope="col">Редактирование</th>
                  <th scope="col">Удаление</th>
                </tr>
              </thead>
              <tbody>
                {% for el in object_list %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ el.name }}</td>
                        <td>{{ el.price }}</td>
                        <td>
                            {% if request.user.username == 'admin' and request.user.password == 'pbkdf2_sha256$260000$2TYARnlkN2c2iEz7KXnlZD$4OpejOwM0qcDD2odV2+trkiPRSV31156RVQEU78WdfU=' %}
                                <a href="{% url 'service_update_page' el.id %}"> <i class="fas fa-pencil-alt"></i> </a>
                            {% else%}
                                Нет доступа
                            {% endif %}
                        </td>
                      <td>
                        {% if request.user.username == 'admin' and request.user.password == 'pbkdf2_sha256$260000$2TYARnlkN2c2iEz7KXnlZD$4OpejOwM0qcDD2odV2+trkiPRSV31156RVQEU78WdfU=' %}
                            <form id="delete_form{{ el.id }}" action="{% url 'service_delete_page' el.id %}" method="post">{% csrf_token %}</form>
                            <a href="javascript:void()" onclick="delete_service{{ el.id }}()"><i class="fas fa-trash-alt"></i></a>
                            <script>
                                function delete_service{{ el.id }}(){
                                    if (confirm("Вы уверены?")){
                                        document.getElementById('delete_form{{ el.id }}').submit()
                                    }
                                }
                            </script>
                        {% else%}
                            Нет доступа
                        {% endif %}
                      </td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
        {% else %}
          <tr>
            <h3>Ничего не найдено :(</h3>
            <a href="{% url 'services_page' %}">
              <button type="button" class="btn btn-secondary">Назад</button>
            </a>
          </tr>
        {% endif %}
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Новая услуга </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <form id="add_form" class="form"  method="post" >
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="name" class="text-info">Услуга:</label><br>
                        <input id="name" type="text" name="name"  class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="price" class="text-info">Цена:</label><br>
                        <input id="price" type="text" name="price"  class="form-control" required>
                    </div>
                    <div class="form-group">
                        <br>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                        <input type="submit" name="submit" class="btn btn-info btn-md" value="Сохранить">
                    </div>
                  </form>
              </div>
            </div>
          </div>
        </div>
    {% endif %}
{% endblock %}