<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Записи {{ get_patient.full_name }}</h1>
    <ul>
        {% for item in  get_patient.records_patients.all %}
            <li><b>ID:</b> {{ item.id }}</li>
            <li><b>Дата создания:</b> {{ item.register_date }}</li>
            <li><b>Врач:</b> {{ item.register_date }}</li>
            <li><b>Оплата:</b> {{ item.payment_status }}</li>
            <li><b>Итоговая сумма:</b> {{ item.total_sum }}</li>
            <span class="float-right.mr-3"> <a href="/tmp/{{ item.id }}/detail/{{ item.id }}">Открыть запись</a></span>
            <p><a href="/">Вернуться назад</a></p>
            <br><br>
        {% endfor %}
    </ul>

</body>
</html>